[app:main]
    use = egg:{{settings.get('package:name')}}

[alembic]
# path to migration scripts
    script_location = versions
    sqlalchemy.url = {{sqlalchemy_url}}

[server:main]
    use = egg:waitress#main
    host = 0.0.0.0
    port = 6543

{% for key, data in settings.get('loggers').items() %}
[{{key}}]
    {% for name, value in data.items() -%}
        {{name}} = {{value}}
    {% endfor -%}
{% endfor %}
